.gradle/
.idea/
Coffee Machine/Brush up your code/
Coffee Machine/Buy, fill, take_/
Coffee Machine/Estimate the number of servings/
Coffee Machine/Ingredient calculator/
Coffee Machine/Keep track of the supplies/
Coffee Machine/Making coffee/
Coffee Machine/task/build/
Coffee Machine/task/out/
Coffee Machine/task/test/
Coffee Machine/lesson-info.yaml
build.gradle
course-info.yaml
course-remote-info.yaml
gradlew.bat
.gitignore
gradle
gradlew
settings.gradle
Topics/

